################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Session03-OOP/FAP/.vs/FAP/v17
/Session03-OOP/FAP/.vs/FAP/FileContentIndex
/Session03-OOP/FAP/.vs/FAP/DesignTimeBuild
/Session03-OOP/FAP/.vs/ProjectEvaluation
/Session04-Collection/FAP/.vs/FAP/v17
/Session04-Collection/FAP/.vs/FAP/FileContentIndex
